<!DOCTYPE html>
<html>
  <head>
    <title>Bahagian | Weclome! {{name}}</title>
    <link rel="icon" href="/resources/images/logo.png" />
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <section class="header">
      <div class="title">
        <img src="/resources/images/logo.png" />
        <p>Share Files</p>
        <i class="fa fa-cloud fa-lg"></i>
      </div>
    </section>

    <script src="/js/getTopics.js"></script>

    <div class="home-body">
      <section class="user">
        <img src="{{profile_pic}}" alt="Prof Pic" />
        <p>Welcome, {{name}}!</p>
        <a class="button" href="/logout">Logout</a>
      </section>

      <section class="add-topic">
        <script src="/js/addTopic.js"></script>
        <button type="button" class="collapsible">Add Topic</button>
        <div class="content">
          <form name="topic-form">
            <input type="text" id="topic-name" name="name" />
            <input
              type="submit"
              value="Submit"
              onclick="onSubmitTopicForm()"
              ;
              return
              false
            />
          </form>
        </div>
      </section>
      <section class="folder-list">
        <div id="topics" class="topics"></div>
        <!-- <a href="#" class="float">
          <i class="fa fa-plus my-float"></i>
        </a> -->
      </section>
    </div>
  </body>
</html>
