<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="icon" href="/resources/images/logo.png" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <div class="login z-depth-3">
      <img src="/resources/images/logo.png" alt="logo" />
      <button
        class="loginBtn loginBtn--google"
        onclick="window.location.href = '/login'"
      >
        Google Login
      </button>
      <p>Powerd By Google Drive</p>
    </div>
  </body>
</html>
